.row {
  margin-left: 20px;
  margin-top: 20px;
  color: #fff;
}
.posters {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.posters::-webkit-scrollbar {
  display: none;
}
.poster {
  max-height: 250px;
  margin-right: 10px;
  cursor: pointer;
}
.poster:hover {
  transform: scale(1.1);
}
.smallPosters {
  max-height: 150px;
  margin-right: 10px;
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
}
.smallPosters img {
  max-width: 200px;
}
.smallPosters::-webkit-scrollbar {
  display: none;
}
